<%- errorMessagesFor(user) %>
<div class="control-group">
   <%- form.label("provider", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("provider") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("displayName", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("displayName") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("createDate", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("createDate") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("lastLogin", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("lastLogin") %>
   </div>
</div>
